.mainContainer{
  display: flex;
  
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 300ms ease-out;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  font-style: normal;
}

.dropdownContainer {
  width: 100%;
  position: relative;
}


.dropdownList {
  left: 0px;
  position: absolute;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  cursor: pointer;
  width: 100%;
  padding: 6px;
  display: flex;
  align-items: center;
  display: inline-block;
  gap: 8px;
  color: #959194;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02rem;
  flex: 1;
}

.filter-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  border: 1px solid #644BFD;
  border-radius: 8px;
  padding: 0.2rem;
  background: #fff;
}