.filtersContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.filters {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row-reverse;
}

/* FilterModals */
.filterTab {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 1px solid #644BFD;
    border-radius: 8px;
    background: #fff;
    width: 200px;
}

.filterDropdown {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 2px solid rgba(51, 49, 49, 0.041);
    width: 100%;
}

.filtersRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}